{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="add-experience", lang=lang )}}</title>
{% endblock title %}

{% block add_preload %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock add_preload %}

{% block content %}
        <div class="col-md m-md-2 m-1">
            <br>
            <h1>{{ fluent(key="add-experience", lang=lang )}}</h1>
            <hr>
            <p><strong>{{ fluent(key="or", lang=lang )}}</strong>  <a class="btn btn-dark" href="/{{ lang }}/person/{{ user_code }}">{{ fluent(key="take-to-profile", lang=lang )}}.</a></p>
            <hr>
            <h2>{{ fluent(key="unique-code", lang=lang )}}</h2> <p><strong>{{ user_code }}</strong></p>
            <p>{{ fluent(key="unique-code-explanation", lang=lang )}}</p>
            <hr>

            {% set experience_len = people_experiences | last %}
            {% set prog_bar = experience_len.experiences | length %}
            {% set progbar_width = prog_bar / 16 * 100 %}

            <strong>{{ fluent(key="progress-header", counter=prog_bar, lang=lang )}}</strong>

            <div class="progress">
                <div class="progress-bar bg-success" style="width: {{progbar_width}}%" role="progressbar" aria-valuenow="prog_bar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% if prog_bar > 5 %}
            <p>*{{ fluent(key="may-add-more", lang=lang )}}</p>
            {% endif %}

            <hr>
            <br>
            <form action="/{{ lang }}/add_experience_form/{{ user_code }}" method=POST id="experienceForm" name="experienceForm">
                
                <h2>{{ fluent(key="question-one-survey", number=prog_bar, lang=lang )}}</h2>
                
                <label>
                    <input class="form-control form-control-lg mdb-autocomplete" id="node_name_autocomplete" name="name" placeholder="{{ fluent(key="question-one-placeholder", number=prog_bar, lang=lang )}}" required
                    maxlength="32" autocomplete="off">
                    <small id="experience_help" class="form-text text-muted">{{ fluent(key="question-one-helper", number=prog_bar, lang=lang )}}</small>
                </label>
                <!--
                    <div class="row">
                    <div class="col m-md-2 m-1">
                    </div>
                <div class="col m-md-2 m-1">
                    <div class="card card-body">
                        <p><strong>{{ fluent(key="tip", lang=lang )}} </strong> {{ fluent(key="tip-string", number=prog_bar, lang=lang )}}</p>
                        <p>{{ fluent(key="learning-one", lang=lang )}}</p>
                    </div>
                </div>
            </div>
            -->

            
    
                <hr>
    
                <h2>{{ fluent(key="question-two", lang=lang )}}</h2>
                
                <fieldset>
                    <legend>{{ fluent(key="experience-is", lang=lang )}}</legend>
                    <div>
                        <input type="radio" id="extremely-important" name="importance" value=5>
                        <label for="extremely-important">{{ fluent(key="extremely-important", lang=lang )}}</label>
                    </div>
                    
                    <div>
                        <input type="radio" id="very-important" name="importance" value=4>
                        <label for="very-important">{{ fluent(key="very-important", lang=lang )}}</label>
                    </div>
                    
                    <div>
                        <input type="radio" id="moderately-important" name="importance" value=3 checked>
                        <label for="moderately-important">{{ fluent(key="moderately-important", lang=lang )}}</label>
                    </div>
                    
                    <div>
                        <input type="radio" id="slightly-important" name="importance" value=2>
                        <label for="slightly-important">{{ fluent(key="slightly-important", lang=lang )}}</label>
                    </div>
    
                    <div>
                        <input type="radio" id="not-important" name="importance" value=1>
                        <label for="not-important">{{ fluent(key="not-important", lang=lang )}}</label>
                    </div>
                </fieldset>

                <hr>
                
                <h2>{{ fluent(key="question-three", lang=lang )}}</h2>
                        
                <p><strong>{{ fluent(key="through-this", lang=lang )}}</strong></p>
                <div>
                    <label>
                        <strong>{{ fluent(key="i-feel", lang=lang )}}</strong>
                        <input class="form-control form-control-lg" name="response_1" required>
                        <small id="response_1_help" class="form-text text-muted">{{ fluent(key="question-three-helper", lang=lang )}}</small>
                    </label>
                </div>
    
                <div>
                    <label>
                        <strong>{{ fluent(key="i-feel", lang=lang )}}</strong>
                        <input class="form-control form-control-lg" name="response_2">
                        <small id="response_2_help" class="form-text text-muted">{{ fluent(key="question-three-helper", lang=lang )}}</small>
    
                    </label>
                </div>
    
                <div>
                    <label>
                        <strong>{{ fluent(key="i-feel", lang=lang )}}</strong>
                        <input class="form-control form-control-lg" name="response_3">
                        <small id="response_3_help" class="form-text text-muted">{{ fluent(key="question-three-helper", lang=lang )}}</small>
    
                    </label>
                </div>
    
                <hr>
                <h2>{{ fluent(key="question-four", lang=lang )}}</h2>
    
                    <label for="inclusivity">{{ fluent(key="drag-slider", lang=lang )}}</label>
    
                    <input type="range" id="inclusivity" name="inclusivity"
                    min="-100" max="100" class="slider">
                    <label for="inclusivity_l" style="text-align:left"><strong>{{ fluent(key="more-excluded", lang=lang )}}</strong></label>
                    <label for="inclusivity_r" style="float:right"><strong>{{ fluent(key="more-included", lang=lang )}}</strong></label>
    
                    <hr>
    
                    <button class="btn g-recaptcha btn-dark" 
                    data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                    data-callback='onSubmit' 
                    data-action='submit' type=submit>{{ fluent(key="save-experience-button", lang=lang )}}</button>
                </form>
                
        </div>
{% endblock content %}

{% block footer %}<br><br><br>{% endblock footer %}

{% block scripts %}
<script>
    window.onSubmit = onSubmit;

    function onSubmit(token) {
    document.getElementById("experienceForm").submit();
    };

    var node_names = {{ all_node_names | json_encode | safe }};

    jQuery(function(){
        jQuery("[id=node_name_autocomplete]").autocomplete({
            minLength: 2,
            source: node_names
            });
    });

</script>
{% endblock scripts %}