{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="add-experience", lang=lang )}}</title>
{% endblock title %}

{% block add_preload %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock add_preload %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        
        <h1>{{ fluent(key="add-experience", lang=lang )}}</h1>
        <hr>

        <form name="ExperienceForm" id="experienceForm" action=/{{ lang }}/first_experience_form/{{ community.code }} method=POST>
        
        <label>
            <strong>{{ fluent(key="add-profile-code", lang=lang )}}</strong>
            <input class="form-control form-control-lg" name="related_code" placeholder="{{ fluent(key="profile-code-placeholder", lang=lang )}}">
            <small id="code_help" class="form-text text-muted">{{ fluent(key="profile-code-helper", lang=lang )}}</small>
        </label>
        <hr>

        <strong>{{ fluent(key="progress-header", counter=0, lang=lang )}}</strong>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>

        <div class="row">
            <div class="col m-md-2 m-1">
                <h2>{{ fluent(key="question-one", lang=lang )}}</h2>
                
                <label>
                    <input class="form-control form-control-lg mdb-autocomplete" id="node_name_autocomplete" name="name" placeholder="{{ fluent(key="question-one-placeholder", lang=lang )}}" required
                    maxlength="32" autocomplete="off">
                    <small id="experience_help" class="form-text text-muted">{{ fluent(key="question-one-helper", number=0, lang=lang )}}</small>
                </label>
            </div>
            <div class="col m-md-2 m-1">
                <div class="card card-body">
                    <p><strong>{{ fluent(key="tip", lang=lang )}} </strong> {{ fluent(key="tip-string", number=0, lang=lang )}}</p>
                    <p>{{ fluent(key="learning-one", lang=lang )}}</p>
                </div>
            </div>
        </div>

            <hr>

            <h2>{{ fluent(key="question-two", lang=lang )}}</h2>
            
            <fieldset>
                <legend>{{ fluent(key="experience-is", lang=lang )}}</legend>
                <div>
                    <input type="radio" id="person" name="domain" value="Person" checked>
                    <label for="person">{{ fluent(key="personal", lang=lang )}}</label>
                </div>

                <div>
                    <input type="radio" id="role" name="domain" value="Role">
                    <label for="role">{{ fluent(key="organizational", lang=lang )}}</label>
                </div>
            </fieldset>

            <hr>
            
            <h2>{{ fluent(key="question-three", lang=lang )}}</h2>
                    
            <p><strong>{{ fluent(key="through-this", lang=lang )}}</strong></p>
            <div>
                <label>
                    <strong>{{ fluent(key="i-feel", lang=lang )}}</strong>
                    <input class="form-control form-control-lg" name="response_1" required>
                    <small id="response_1_help" class="form-text text-muted">{{ fluent(key="question-three-helper", lang=lang )}}</small>
                </label>
            </div>

            <div>
                <label>
                    <strong>{{ fluent(key="i-feel", lang=lang )}}</strong>
                    <input class="form-control form-control-lg" name="response_2">
                    <small id="response_2_help" class="form-text text-muted">{{ fluent(key="question-three-helper", lang=lang )}}</small>

                </label>
            </div>

            <div>
                <label>
                    <strong>{{ fluent(key="i-feel", lang=lang )}}</strong>
                    <input class="form-control form-control-lg" name="response_3">
                    <small id="response_3_help" class="form-text text-muted">{{ fluent(key="question-three-helper", lang=lang )}}</small>

                </label>
            </div>

            <hr>
            <h2>{{ fluent(key="question-four", lang=lang )}}</h2>

                <label for="inclusivity">{{ fluent(key="drag-slider", lang=lang )}}</label>

                <input type="range" id="inclusivity" name="inclusivity"
                min="-100" max="100" class="slider">
                <label for="inclusivity_l" style="text-align:left"><strong>{{ fluent(key="more-excluded", lang=lang )}}</strong></label>
                <label for="inclusivity_r" style="float:right"><strong>{{ fluent(key="more-included", lang=lang )}}</strong></label>

                <hr>

                <button class="btn g-recaptcha btn-dark" 
                data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                data-callback='onSubmit' 
                data-action='submit' type=submit>{{ fluent(key="save-experience-button", lang=lang )}}</button>
            </form>
                    
    </div>
{% endblock content %}

{% block footer %}<br><br><br>{% endblock footer %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("experienceForm").submit();
   };

   var node_names = {{ all_node_names | json_encode | safe }};

   jQuery(function(){
       jQuery("[id=node_name_autocomplete]").autocomplete({
            minLength: 2,
            source: node_names
            });
   });

</script>
{% endblock scripts %}