{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="survey-introduction", lang=lang )}}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>

        <div class="card card-body">
            <h1>{{ fluent(key="survey-introduction", lang=lang )}}</h1>
            <hr>
    
                <p>{{ fluent(key="invited-community", community=phrases[community.tag], lang=lang )}}</p>
                <p>{{ fluent(key="community-explanation", lang=lang )}}</p>
                <p>{{ phrases[community.description] }}</p>
                <p>{{ fluent(key="community-contact", contact=community.contact_email, lang=lang )}}</p>
    
        </div>

        <br>
        <h1>{{ fluent(key="survey-overview", lang=lang )}}</h1>
        <p>{{ fluent(key="questions-intro", lang=lang )}}</p>
        <p>{{ fluent(key="completed-profile", lang=lang )}}</p>
        <hr>
        <p><a class="btn btn-dark" href="/{{ lang }}/first_experience_form/{{ community.code }}">{{ fluent(key="start-survey-button", lang=lang )}}</a> <strong>{{ fluent(key="or", lang=lang )}}</strong> 
            
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{ fluent(key="learn-more-button", lang=lang )}}
        </button></p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
            
                    <h2>{{ fluent(key="questions-header", lang=lang )}}</h2>
                    <p>{{ fluent(key="question-explanation", lang=lang )}}</p>
                    <hr>
                    <h3>{{ fluent(key="question-one", lang=lang )}}</h3>
                    <p>{{ fluent(key="question-one-explanation", lang=lang )}}</p>
                    <p>{{ fluent(key="question-one-details", lang=lang )}}</p>
                        <p>{{ fluent(key="useful-framework", lang=lang )}} <a href="https://rituhasin.com">{{ fluent(key="build-cultural-experience", lang=lang )}}</a>.</p>
                        <h4>{{ fluent(key="layers-identity-header", lang=lang )}}</h4>
                        <div class="row">
                            <div class="col m-1">
                                <ul>
                                    <li>{{ fluent(key="layer-nationality", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-race", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-religion", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-gender", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-sexuality", lang=lang )}}</li>
                                </ul>
                            </div>
                            <div class="col m-1">
                                <ul>
                                    <li>{{ fluent(key="layer-ability", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-age", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-education", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-socio-econ", lang=lang )}}</li>
                                    <li>{{ fluent(key="layer-profession", lang=lang )}}</li>
                                </ul>
                            </div>
                        </div>
            
                        <hr>
            
                        <h3>{{ fluent(key="question-two", lang=lang )}}</h3>
                        <p>{{ fluent(key="question-two-explanation", lang=lang )}}</p>
                        <p>{{ fluent(key="question-two-shorthand", lang=lang )}}</p>
                        <ul>
                            <li>{{ fluent(key="personal-experience", lang=lang )}}</li>
                            <li>{{ fluent(key="organizational-role", lang=lang )}}</li>
                        </ul>
            
                        <hr>
                        <h3>{{ fluent(key="question-three", lang=lang )}}</h3>
                        <p>{{ fluent(key="question-three-explanation", lang=lang )}}</p>
            
                        <p><strong>{{ fluent(key="through-this", lang=lang )}} {{ fluent(key="i-feel", lang=lang )}}</strong></p>
                        
                        <hr>
                        <h3>{{ fluent(key="question-four", lang=lang )}}</h3>
                        <p>{{ fluent(key="question-four-explanation", lang=lang )}}</p>
                        <p>{{ fluent(key="question-four-slider-direction", lang=lang )}}</p>
                            
                <a class="btn btn-dark" href="/{{ lang }}/first_experience_form/{{ community.code }}">{{ fluent(key="start-survey-button", lang=lang )}}</a>
            </div>
        </div>


    <hr>
        
    </div>
{% endblock content %}