{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="add-community-title", lang=lang )}}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ fluent(key="add-community-title", lang=lang )}}</h1>
        <p>{{ fluent(key="add-community-explanation", lang=lang )}}</p>

        <form name="CommunityForm" id="communityForm" action=/{{ lang }}/add_community method=POST>
        
        <label>
            <strong>{{ fluent(key="community-name", lang=lang )}}</strong>
            <input class="form-control form-control-lg" type="text" name="community_name" placeholder="{{ fluent(key="community-name-placeholder", lang=lang )}}" required>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="community-name-helper", lang=lang )}}</small>
        </label>
        <br>

        <label>
            <strong>{{ fluent(key="description", lang=lang )}}</strong>
            <textarea class="form-control form-control-lg" type="text" rows=10 cols=45 name="description" placeholder="{{ fluent(key="community-description-placeholder", lang=lang )}}." required></textarea>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="community-description-helper", lang=lang )}}</small>
        </label>
        <br>

        <label>
            <strong>{{ fluent(key="data-use-case-label", lang=lang )}}</strong>
            <textarea class="form-control form-control-lg" type="text" rows=10 cols=45 name="data_use_case" placeholder="{{ fluent(key="data-use-case-placeholder", lang=lang )}}" required></textarea>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="data-use-case-helper", lang=lang )}}</small>
        </label>
        <br>

        <label>
            <strong>{{ fluent(key="community-status", lang=lang )}}</strong>
            <select name="open">
                <option value="open" selected>{{ fluent(key="open", lang=lang )}}</option>
                <option value="private">{{ fluent(key="private", lang=lang )}}</option>
              </select>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="community-status-helper", lang=lang )}}</small>
        </label>
        <hr>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >{{ fluent(key="add-community-button", lang=lang )}}</button>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("communityForm").submit();
   };

</script>
{% endblock scripts %}