{% extends "base.html" %}

{% block title %}
    <title>Add Community</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Add a community</h1>
        <p>Use this form to add a community to intersections. You will receive a unique access code that participants can use to associate their profiles with your community or organization. 
            You will be able to invite members to the community through a link, QR code or through the application.</p>

        <form name="CommunityForm" id="communityForm" action=/add_community method=POST>
        
        <label>
            <strong>Community Name</strong>
            <input class="form-control form-control-lg" type="text" name="community_name" placeholder="Your community name..." required>
            <small id="code_help" class="form-text text-muted">Add a name or tag for your community.</small>
        </label>
        <br>

        <label>
            <strong>Description</strong>
            <textarea class="form-control form-control-lg" type="text" rows=10 cols=45 name="description" placeholder="A community..." required></textarea>
            <small id="code_help" class="form-text text-muted">Enter a short description of your community. This will be shared with participants.</small>
        </label>
        <br>

        <label>
            <strong>Data Use Case</strong>
            <textarea class="form-control form-control-lg" type="text" rows=10 cols=45 name="data_use_case" placeholder="This data will be used..." required></textarea>
            <small id="code_help" class="form-text text-muted">Explain here how the data from this community will be used. This will be shared with participants.</small>
        </label>
        <br>

        <label>
            <strong>Community Status</strong>
            <select name="open">
                <option value="open" selected>Open</option>
                <option value="private">Private</option>
              </select>
            <small id="code_help" class="form-text text-muted">Choose if you would like your community to be open (other people can view), or private (only you can view).</small>
        </label>
        <hr>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >Add Community</button>
        <hr>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("communityForm").submit();
   };

</script>
{% endblock scripts %}