{% extends "base.html" %}

{% block title %}
    <title>Community Index</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Communities</h1>
        <p>Communities and organizations on intersections. Aggregate data from Open communities can be viewed by anyone. In each community you can see it's purpose, planned data usage, creation date and more.</p>

        {% if communities %}
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for community in communities | sort(attribute="data.experiences") | reverse %} 
            <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ community.tag | title }}{% if community.test %} (Demo){% endif %}
                    </h5>
                    <p class="card-text"><small class="text-muted">{{ community.contact_email }} | {% if community.open %}Open{% else %}Private{% endif %} Community | Created: {{ community.date_created | date(format="%Y-%m-%d") }}</small></p>
                    <p class="card-text">{{ community.description }}</p>
                    <p class="card-text">Data Use: {{ community.data_use_case }}</p>
                    <table>
                        <tr>
                            <th style="text-align: center;">Members</th>
                            <th style="text-align: center;">Experiences</th>
                            <th style="text-align: center;">Avg. Inclusvity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ community.data.members }}</td>
                            <td style="text-align: center;">{{ community.data.experiences }}</td>
                            <td style="text-align: center;">{{ community.data.mean_inclusivity | round(method="ceil", precision=3) }}</td>
                        </tr>
                    </table>
                    <br>
                    <a class="btn btn-dark" href="/community/{{ community.slug }}">Details</a>
                    <a class="btn btn-dark" href="/full_community_graph/{{ community.slug }}">Graph</a>
                    {% if role == "admin" %}
                    <a class="btn btn-dark" href="/edit_community/{{ community.slug }}">Edit</a>
                    <a class="btn btn-danger" href="/delete_community/{{ community.code }}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
        {% endif %}
                
        <hr>
        {% if session_user != "" and user.validated %}
            <p><a class="btn btn-dark" href="/add_community">Add Community</a></p>
        {% endif %}

    </div>
{% endblock content %}