{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="delete-community", lang=lang )}} {{ community.tag }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ fluent(key="delete-community", lang=lang )}} {{ phrases[community.tag] }}</h1>

        <h2>{{ fluent(key="details", lang=lang )}}</h2>
        <p>{{ fluent(key="community-details-management", lang=lang )}}</p>
    
        <p>{{ phrases[community.description] | capitalize }}</p>

        <p>{{ fluent(key="data-use-case", lang=lang )}} {{ phrases[community.data_use_case] | capitalize }}</p>

        {% if owner and user.validated %}
            <p>{{ fluent(key="your-community-code", lang=lang )}} {{ community.code }}</p>
        {% endif %}
        
        <p>{{ fluent(key="this-community-is", lang=lang )}} {% if community.open %}{{ fluent(key="open", lang=lang )}}{% else %}{{ fluent(key="private", lang=lang )}}{% endif %}</p>
        <br>

        <table>
            <tr>
                <th style="text-align: center;">{{ fluent(key="members", lang=lang )}}</th>
                <th style="text-align: center;">{{ fluent(key="invitations", lang=lang )}}</th>
                <th style="text-align: center;">{{ fluent(key="experiences", lang=lang )}}</th>
                <th style="text-align: center;">{{ fluent(key="avg-inclusivity", lang=lang )}}</th>
            </tr>
            <tr>
                <td style="text-align: center;">{{ community.data.members }}</td>
                <td style="text-align: center;">{{ community.data.invitations }}</td>
                <td style="text-align: center;">{{ community.data.experiences }}</td>
                <td style="text-align: center;">{{ community.data.mean_inclusivity | round(method="ceil", precision=3) }}</td>
            </tr>
        </table>
        <br>

        <div class="card-body">
            <p><strong>{{ fluent(key="delete-warning", lang=lang )}}</strong></p>
            <form name="DeleteCommunityForm" id="deleteCommunityForm" action=/{{ lang }}/delete_community/{{ community.code }} method=POST>
    
                <label>
                    <strong>{{ fluent(key="enter-community-name-delete", lang=lang )}} {{ phrases[community.tag] }}</strong>
                    <input class="form-control form-control-lg" type="text" name="user_verify" placeholder="{{ fluent(key="community-delete-placeholder", lang=lang )}}" required>
                    <small id="code_help" class="form-text text-muted">{{ fluent(key="community-delete-helper", lang=lang )}}</small>
                </label>
                <hr>
        
                <button 
                    class="btn g-recaptcha btn-danger" 
                    data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                    data-callback='onSubmit' 
                    data-action='submit'
                    type=submit
                    >{{ fluent(key="delete-button", lang=lang )}}</button>
    
                <button class="btn btn-dark" href="/{{ lang }}/user/{{ session_user }}">{{ fluent(key="return-to-profile", lang=lang )}}</button>
            
            </form>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
    document.getElementById("deleteCommunityForm").submit();
    };

</script>
{% endblock scripts %}