{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="edit-community-title", lang=lang )}}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ fluent(key="edit-community-title", lang=lang )}}</h1>
        <p>{{ fluent(key="edit-community-explanation", lang=lang )}}.</p>


        <form name="CommunityForm" id="communityForm" action=/{{ lang }}/edit_community/{{ community.slug }} method=POST>
        
        <label>
            <strong>{{ fluent(key="community-name", lang=lang )}}</strong>
            <input class="form-control form-control-lg" type="text" name="community_name" value="{{ phrases[community.tag] }}" required>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="community-name-helper", lang=lang )}}</small>
        </label>
        <br>

        <label>
            <strong>{{ fluent(key="description", lang=lang )}}</strong>
            <textarea class="form-control form-control-lg" rows=10 cols=45 type="text" name="description" required>{{ phrases[community.description] }}</textarea>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="community-description-helper", lang=lang ) | capitalize }}</small>
        </label>
        <br>

        <label>
            <strong>{{ fluent(key="data-use-case-label", lang=lang )}}</strong>
            <textarea class="form-control form-control-lg" rows=10 cols=45 type="text" name="data_use_case" required>{{ phrases[community.data_use_case] }}</textarea>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="data-use-case-helper", lang=lang )}}</small>
        </label>
        <br>

        <label>
            <strong>{{ fluent(key="community-status", lang=lang )}}</strong>
            <select name="open">
                <option value="open" {% if community.open %}selected{% endif %}>{{ fluent(key="open", lang=lang )}}</option>
                <option value="private" {% if not community.open %}selected{% endif %}>{{ fluent(key="private", lang=lang )}}</option>
              </select>
            <small id="code_help" class="form-text text-muted">{{ fluent(key="community-status-helper", lang=lang )}}</small>
        </label>
        <hr>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >{{ fluent(key="update-community-button", lang=lang )}}</button>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("communityForm").submit();
   };

</script>
{% endblock scripts %}