{% extends "base.html" %}

{% block title %}
    <title>Community: {{ community.tag }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>View Community: {{ community.tag }}</h1>

        <div class="card card-body">
            <p>Community details and management.</p>
    
                <p>{{ community.description }}</p>

                <p>Data Use Case: {{ community.data_use_case }}</p>

                {% if owner and user.validated %}
                    <p>Your community code is {{ community.code }}</p>
                {% endif %}
                
                <p>This community is {% if community.open %}open{% else %}private{% endif %}</p>
                <br>

                <table>
                    <tr>
                        <th style="text-align: center;">Members</th>
                        <th style="text-align: center;">Invitations</th>
                        <th style="text-align: center;">Experiences</th>
                        <th style="text-align: center;">Avg. Inclusvity</th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">{{ community.data.members }}</td>
                        <td style="text-align: center;">{{ community.data.invitations }}</td>
                        <td style="text-align: center;">{{ community.data.experiences }}</td>
                        <td style="text-align: center;">{{ community.data.mean_inclusivity | round(method="ceil", precision=3) }}</td>
                    </tr>
                </table>
                <br>
                
                <h2>Actions</h2>
                
                <a class="btn btn-dark" href="/{{ lang }}/full_community_graph/{{ community.slug }}">View Community Graph</a>
                <br>
                {% if owner and user.validated %}
                <a class="btn btn-dark" href="{{ add_community_profile_url }}">Link to Add Profile to Community</a>
                <br>
                <a class="btn btn-dark" href="/{{ lang }}/edit_community/{{ community.slug }}">Edit Community</a>
                <a class="btn btn-danger" href="/{{ lang }}/delete_community/{{ community.code }}">Delete Community</a>
                {% endif %}
                <br> 
        </div>

            {% if owner and user.validated %}
            <div class="card card-body">
                <h2>Scan or share QR code to participants.</h2>
    
                {{ qrcode | safe }}
            </div>

            <hr>

            <h2>Send emails to participants</h2>
            <p>Enter the email addresses for your desired participants in the text box below and then hit send. Each will receive an invitation to join your community. 
                You can enter multiple email addresses in the text box at one time.
            </p>

            <form name="EmailsForm" id="emailsForm" action=/{{ lang }}/send_community_email/{{ community.slug }} method=POST>
                
                <label>
                    <strong>Invite to Community</strong>
                    <textarea class="form-control form-control-lg" 
                    type="text" 
                    name="emails" 
                    placeholder="yourname@domain.com, another@email.com"
                    rows="8"
                    cols="33"
                    required></textarea>
                    <small id="code_help" class="form-text text-muted">Enter the email addresses to invite to the community.</small>
                </label>
                <br>
        
                <button 
                    class="btn g-recaptcha btn-dark" 
                    data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                    data-callback='onSubmit' 
                    data-action='submit'
                    type=submit
                    >Send Invitation Emails</button>
                <hr>
            </form>

            <h3>Template email to participants</h3>
            <p>You can modify and send this email to people in your community.</p>
            <div class="card card-body">
                <P>Hello/bonjour,</P>
                <p>I'm pleased to invite you to be part of the {{ community.tag }} community on the intersectional data pilot.
                    The purpose of the pilot is to help individuals and organizations learn about intersectionality and identify bias by
                    anonymously tracking inclusion and exclusion in the community or organization.</p>

                <p>Community description: {{ community.description }}</p>
                
                <p>No identifying information is stored as part of the survey. When you finish the survey, you will be provided with a code so you can access your profile.</p>
                <p>You are the only person who will receive this code and without the code, no-one can view your profile.</p>

                <p>The intended use of this data within the community is as follows: {{ community.data_use_case }}</p>

                <p>You can access and complete the survey by <a href="{{ add_community_profile_url }}">clicking this link</a>.</p>

                <p>Thank you and you can reach me at {{ community.contact_email }} if you have any questions.</p>
            </div>

        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("emailsForm").submit();
   };

</script>
{% endblock scripts %}