{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="community-colon", lang=lang )}} {{ phrases[community.tag] }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ fluent(key="view-community", lang=lang )}} {{ phrases[community.tag] | title }}</h1>

        <div class="card card-body">
            <p>{{ fluent(key="community-details-management", lang=lang )}}</p>
    
                <p>{{ phrases[community.description] | capitalize }}</p>

                <p>{{ fluent(key="data-use-case", datause=phrases[community.data_use_case] | capitalize, lang=lang )}}</p>

                {% if owner and user.validated %}
                    <p>{{ fluent(key="your-community-code", lang=lang )}} <strong>{{ community.code }}</strong></p>
                {% endif %}
                
                <p>{{ fluent(key="this-community-is", lang=lang )}} {% if community.open %}{{ fluent(key="open", lang=lang )}}{% else %}{{ fluent(key="private", lang=lang )}}{% endif %}</p>
                <br>

                <table>
                    <tr>
                        <th style="text-align: center;">{{ fluent(key="members", lang=lang )}}</th>
                        <th style="text-align: center;">{{ fluent(key="invitations", lang=lang )}}</th>
                        <th style="text-align: center;">{{ fluent(key="experiences", lang=lang )}}</th>
                        <th style="text-align: center;">{{ fluent(key="avg-inclusivity", lang=lang )}}</th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">{{ community.data.members }}</td>
                        <td style="text-align: center;">{{ community.data.invitations }}</td>
                        <td style="text-align: center;">{{ community.data.experiences }}</td>
                        <td style="text-align: center;">{{ community.data.mean_inclusivity | round(method="ceil", precision=3) }}</td>
                    </tr>
                </table>
                <br>
                
                <h2>{{ fluent(key="actions-title", lang=lang )}}</h2>
                
                <a class="btn btn-dark" href="/{{ lang }}/full_community_graph/{{ community.slug }}">{{ fluent(key="view-community-graph", lang=lang )}}</a>
                <br>
                {% if owner and user.validated %}
                <a class="btn btn-dark" href="{{ add_community_profile_url }}">{{ fluent(key="link-to-add-profile", lang=lang )}}</a>
                <br>
                <a class="btn btn-dark" href="/{{ lang }}/edit_community/{{ community.slug }}">{{ fluent(key="edit-community-button", lang=lang )}}</a>
                <a class="btn btn-danger" href="/{{ lang }}/delete_community/{{ community.code }}">{{ fluent(key="delete-community-button", lang=lang )}}</a>
                {% endif %}
                <br> 
        </div>

            {% if owner and user.validated %}
            <div class="card card-body">
                <h2>{{ fluent(key="scan-qr-code", lang=lang )}}</h2>
    
                {{ qrcode | safe }}
            </div>

            <hr>

            <h2>{{ fluent(key="send-emails-participants-title", lang=lang )}}</h2>
            <p>{{ fluent(key="send-emails-instructions", lang=lang )}}
            </p>

            <form name="EmailsForm" id="emailsForm" action=/{{ lang }}/send_community_email/{{ community.slug }} method=POST>
                
                <label>
                    <strong>{{ fluent(key="invite-to-community-label", lang=lang )}}</strong>
                    <textarea class="form-control form-control-lg" 
                    type="text" 
                    name="emails" 
                    placeholder="yourname@domain.com, another@email.com"
                    rows="8"
                    cols="33"
                    required></textarea>
                    <small id="code_help" class="form-text text-muted">{{ fluent(key="invite-to-community-helper", lang=lang )}}</small>
                </label>
                <br>
        
                <button 
                    class="btn g-recaptcha btn-dark" 
                    data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                    data-callback='onSubmit' 
                    data-action='submit'
                    type=submit
                    >{{ fluent(key="invite-to-community-button", lang=lang )}}</button>
                <hr>
            </form>

            <h3>{{ fluent(key="template-email-title", lang=lang )}}</h3>
            <p>{{ fluent(key="template-email-instructions", lang=lang )}}</p>
            <div class="card card-body">
                <p>{{ fluent(key="hello", lang=lang )}}</p>
                <p>{{ fluent(
                        key="community-email-body", 
                        community=phrases[community.tag] | title,
                        lang=lang, 
                    )}}</p>
                <p>{{ fluent(key="community-description", description=phrases[community.description] | capitalize, lang=lang )}}</p>
                <p>{{ fluent(key="no-identifying-information", lang=lang )}}</p>
                <p>{{ fluent(key="data-use-case", datause=phrases[community.data_use_case] | capitalize, lang=lang )}}</p>
                <p>{{ fluent(key="access-complete", lang=lang )}}<a href="{{ add_community_profile_url }}"> {{ fluent(key="click-url", lang=lang )}}</a></p>
                <p>{{ fluent(key="thank-you-reach-at", contact=community.contact_email, lang=lang )}}</p>
            </div>

        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("emailsForm").submit();
   };

</script>
{% endblock scripts %}