{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}}

{% block add_preload %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.16.2/cytoscape.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>

    <style>
      body {
        font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
        font-size: 15px;
      }
  
      h1 {
        opacity: 0.5;
        font-size: 1em;
        font-weight: bold;
      }
  
      .my-legend .legend-title {
        position:absolute;
        top: 80px;
        right: 20px;
        margin-bottom: 5px;
        margin-right: 5px;
        font-weight: bold;
        font-size: 90%;
      }
      .my-legend .legend-scale ul {
        margin: 0;
        margin-right: 10px;
        padding: 0;
        position:absolute;
        top: 100px;
        right: 10px;
        list-style: none;
      }
      .my-legend .legend-scale ul li {
        font-size: 80%;
        list-style: none;
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
      }
      .my-legend ul.legend-labels li span {
        display: inline-block;
        float: left;
        height: 16px;
        width: 30px;
        margin-right: 5px;
        margin-left: 0;
        border: 1px solid #999;
      }
  
      .my-legend a {
        color: #777;
      }
  
    </style>
{% endblock add_preload %}

{% block content %}
<div class="col m-md-2 m-1">
  <h1>{{ title }}</h1>
  <p><a href="/global_graph">View global graph</a> | <a href="/">Return to Index</a></p>
  <hr>

  <div class='my-legend'>
    <div class='legend-title'>Node Colors</div>
    <div class='legend-scale'>
      <ul class='legend-labels' id="legend">
        <li id="unclusteredLegend"><span style='background:#756D76;'></span>Unclustered</li>
        <li><span style='background:rgb(58, 196, 255);'></span>Cluster #: 0</li>
        <li><span style='background: rgb(173, 39, 126);'></span>Cluster #: 1</li>
        <li><span style='background: rgb(65, 57, 221);'></span>Cluster #: 2</li>
        <li><span style='background: rgb(213, 125, 186);'></span>Cluster #: 3</li>
        <li><span style='background: rgb(42, 14, 16);'></span>Cluster #: 4</li>
        <li><span style='background: rgb(138, 178, 60);'></span>Cluster #: 5</li>
        <li><span style='background: rgb(239, 156, 182);'></span>Cluster #: 6</li>
        <li><span style='background: rgb(141, 202, 164);'></span>Cluster #: 7</li>
        <li><span style='background: rgb(121, 38, 189);'></span>Cluster #: 8</li>
        <li><span style='background: rgb(177, 195, 149);'></span>Cluster #: 9</li>
      </ul>
    </div>
  </div>

  <div id="cy"></div>
</div>
<!-- Load application code at the end to ensure DOM is loaded -->
{% endblock content %}
{% block scripts %}
    <script>

    document.addEventListener("DOMContentLoaded", function() {

      var cy = cytoscape({
  
          container: document.getElementById('cy'), // container to render in
  
          // load data from handler
          elements: JSON.parse({{ graph_data | json_encode | safe }}),
  
          style: [ // the stylesheet for the graph
            {
              selector: 'node',
              style: {
                'background-color': '#666',
                'label': 'data(inclusivity)',
                'background-color': 'mapData(inclusivity, -1.00, 1.00, #00429d, #ffffe0)',
                'border-color': 'black',
                'border-width': 0.5,
                'width': 'data(size)',
                'height': 'data(size)',
                'shape': 'data(shape)',
                'content': 'data(id)'
              }
            },

            {
              selector: 'edge',
              style: {
                'width': 0.75,
                'line-color': '#ccc',
                'source-arrow-shape': 'triangle',
                'target-arrow-shape': 'triangle',
                'curve-style': 'bezier',
                'content': 'data(id)',
                'label': ''
              }
            },

              {
                selector: 'node.highlight',
                style: {
                    'border-color': 'black',
                    'border-width': '4px'
                }
              },
              {
                  selector: 'node.semitransp',
                  style:{ 'opacity': '0.05' }
              },
              {
                  selector: 'edge.highlight',
                  style: { 'mid-target-arrow-color': '#FFF' }
              },
              {
                  selector: 'edge.semitransp',
                  style:{ 'opacity': '0.05' }
              }
          ],
  
          layout: {
            name: 'fcose',
            nodeSeparation: 750,
            nodeRepulsion: 5000,
            idealEdgeLength: 170
          }
  
          });

          function makePopper(ele) {
          let ref = ele.popperRef(); // used only for positioning

          ele.tippy = tippy(ref, { // tippy options:
            content: () => {
              let content = document.createElement('div');

              if (ele.data("node_type") == "Node") {
                content.innerHTML = ele.data("inclusivity");
              } else {
                content.innerHTML = ele.data("weight");
              };

              return content;
            },
            trigger: 'focus' // probably want manual mode
          });
        }

        cy.ready(function() {
          cy.elements().forEach(function(ele) {
            makePopper(ele);
          });

          // Calculate degree
          
          var bc = cy.elements().degreeCentralityNormalized({
            weight: function(edges) {
              return edges.data('weight');
          }});
          
          /*
          cy.nodes().forEach( n => {
            
            // let bn = bc.degree( n ).toFixed(2);

            // use this to set inclusivity
            n.data({
              inclusivity: bn,
            });
            */

            /*
            n.style({
              'height': bn * 30.0,
              'width': bn * 30.0,
            });
          } 
          );
          */
        });

        // Allow link open page on click
        cy.on('tap', 'node', function(){
          try { // your browser may block popups
            window.open( this.data('href') );
          } catch(e){ // fall back on url change
            window.location.href = this.data('href');
          }
        });    

        // select neighbours and highlight
        cy.on('mouseover', 'node', function(e) {
        var sel = e.target;
        cy.elements()
            .difference(sel.outgoers()
                .union(sel.incomers()))
            .not(sel)
            .addClass('semitransp')
            // show tooltip for selected node
            sel.addClass('highlight')
            .outgoers()
            .union(sel.incomers())
            .addClass('highlight');
        });

        // remove highlight
        cy.on('mouseout', 'node', function(e) {
            var sel = e.target;
            cy.elements()
                .removeClass('semitransp')
                sel.removeClass('highlight')
                .outgoers()
                .union(sel.incomers())
                .removeClass('highlight');
        });

        //cy.elements().unbind('mouseover');
        cy.elements().bind('mouseover', (event) => event.target.tippy.show());

        //cy.elements().unbind('mouseout');
        cy.elements().bind('mouseout', (event) => event.target.tippy.hide());
    });

    </script>
{% endblock scripts %}

