{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}}

{% block add_preload %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.16.2/cytoscape.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>

    <style>
      body {
        font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
        font-size: 15px;
      }
  
      h1 {
        opacity: 1.0;
        font-size: 1em;
        font-weight: bold;
      }
  
      .my-legend .legend-title {
        position:absolute;
        top: 80px;
        right: 20px;
        margin-bottom: 5px;
        margin-right: 5px;
        font-weight: bold;
        font-size: 90%;
      }
      .my-legend .legend-scale ul {
        margin: 0;
        margin-right: 10px;
        padding: 0;
        position:absolute;
        top: 110px;
        right: 10px;
        list-style: none;
      }
      .my-legend .legend-scale ul li {
        font-size: 80%;
        list-style: none;
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
      }
      .my-legend ul.legend-labels li span {
        display: inline-block;
        float: left;
        height: 16px;
        width: 16px;
        margin-right: 5px;
        margin-left: 0;
        border: 1px solid #999;
      }

      .round {
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 12px; 

        /* Firefox 1-3.6 */
        -moz-border-radius: 12px; 
        
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 12px; 
      }
  
      .my-legend a {
        color: #777;
      }
  
    </style>
{% endblock add_preload %}

{% block content %}
<div class="col m-md-2 m-1">
  <h1>{{ title }} <button class="btn btn-dark btn-sm" style="float: right;" type="button" data-toggle="collapse" data-target="#collapseLegend" aria-expanded="true" aria-controls="collapseLegend">
    {{ fluent(key="toggle-legend", lang=lang )}}
  </button></h1>
  <hr>
  
  <div class="collapse show" id="collapseLegend">
  <div class='my-legend'>
    <div class='legend-title'>{{ fluent(key="legend", lang=lang )}}</div>
    <div class='legend-scale'>
      <ul class='legend-labels' id="legend">
        <li><span class="round" style='background:#999ac0'></span>{{ fluent(key="personal-experience-legend", lang=lang )}}</li>
        <li><span style='background:#999ac0;'></span>{{ fluent(key="organizational-role-legend", lang=lang )}}</li>
        <li>-------</li>
        <li><span style='background: #00429d;'></span>{{ fluent(key="lowest-inclusivity", lang=lang )}}</li>
        <li><span style='background: #616caf;'></span>{{ fluent(key="negative-inclusivity", lang=lang )}}</li>
        <li><span style='background: #999ac0;'></span>{{ fluent(key="neutral-inclusivity", lang=lang )}}</li>
        <li><span style='background: #cccbd0;'></span>{{ fluent(key="positive-inclusivity", lang=lang )}}</li>
        <li><span style='background: #ffffe0;'></span>{{ fluent(key="highest-inclusivity", lang=lang )}}</li>
        <li>-------</li>
        <li>{{ fluent(key="zoom-drag", lang=lang )}}</li>
        <li>{{ fluent(key="hover", lang=lang )}}</li>
        <li>{{ fluent(key="click-explore", lang=lang )}}</li>
        <li>{{ fluent(key="click-view", lang=lang )}}</li>
        <li>{{ fluent(key="click-elsewhere", lang=lang )}}</li>
      </ul>
    </div>
  </div>
  </div>

  <div id="cy"></div>
</div>
<!-- Load application code at the end to ensure DOM is loaded -->
{% endblock content %}
{% block scripts %}
    <script>

    document.addEventListener("DOMContentLoaded", function() {

      var cy = cytoscape({
  
          container: document.getElementById('cy'), // container to render in
  
          // load data from handler
          elements: JSON.parse({{ graph_data | json_encode | safe }}),
  
          style: [ // the stylesheet for the graph
            {
              selector: 'node',
              style: {
                'background-color': '#666',
                'label': 'data(inclusivity)',
                'background-color': 'mapData(inclusivity, -1.00, 1.00, #00429d, #ffffe0)',
                'border-color': 'black',
                'border-width': 0.5,
                'width': 25,
                'height': 25,
                'shape': 'data(shape)',
                'content': 'data(title)'
              }
            },

            {
              selector: 'node:selected',
              style: {
                'shape': 'diamond',
                'background-color': '#33ff00',
                'border-color': '#22ee00'
              }
            },

            {
              selector: 'edge',
              style: {
                'width': 0.75,
                'line-color': '#ccc',
                'source-arrow-shape': 'triangle',
                'target-arrow-shape': 'triangle',
                'curve-style': 'bezier',
                'content': 'data(id)',
                'label': ''
              }
            },

              {
                selector: 'node.highlight',
                style: {
                    'border-color': 'black',
                    'border-width': '4px'
                }
              },
              {
                  selector: 'node.semitransp',
                  style:{ 'opacity': '0.05' }
              },
              {
                  selector: 'edge.highlight',
                  style: { 'mid-target-arrow-color': '#FFF' }
              },
              {
                  selector: 'edge.semitransp',
                  style:{ 'opacity': '0.05' }
              }
          ],
  
          layout: {
            name: 'fcose',
            nodeSeparation: 1000,
            nodeRepulsion: 5000,
            idealEdgeLength: 200
          }
  
          });

          function makePopper(ele) {
          let ref = ele.popperRef(); // used only for positioning

          ele.tippy = tippy(ref, { // tippy options:
            content: () => {
              let content = document.createElement('div');

              if (ele.data("node_type") == "Node") {
                content.innerHTML = "Inclusivity: " + ele.data("inclusivity").toFixed(2) + "<br>" + "Importance: " + ele.data("importance").toFixed(2) + " Count: " + ele.data("size");
              } else {
                content.innerHTML = ele.data("weight");
              };

              return content;
            },
            trigger: 'focus' // probably want manual mode
          });
        }

        cy.ready(function() {
          cy.elements().forEach(function(ele) {
            makePopper(ele);
          });

          // Calculate degree
          
          var bc = cy.elements().degreeCentralityNormalized({
            weight: function(edges) {
              return edges.data('weight');
          }});
          
          /*
          cy.nodes().forEach( n => {
            
            // let bn = bc.degree( n ).toFixed(2);

            // use this to set inclusivity
            n.data({
              inclusivity: bn,
            });
            */

            /*
            n.style({
              'height': bn * 30.0,
              'width': bn * 30.0,
            });
          } 
          );
          */
        });
        
        cy.unbind('tap');
        cy.on('tap', 'node', function(evt){

          cy.elements()
            .removeClass('semitransp')
            .removeClass('highlight')
            .removeClass('selected');
          
          let node = evt.target;

          cy.elements()
            .difference(node.outgoers()
                .union(node.incomers()))
            .not(node)
            .addClass('semitransp');

            // show tooltip for selected node
            node.addClass('highlight')
              .outgoers()
              .union(node.incomers())
              .addClass('highlight');

          console.log('tapped ' + node.id());

          if (node.selected()) {
            // Allow link open page on double tap
            try { // your browser may block popups
              window.open( this.data('href') );
            } catch(e){ // fall back on url change
              window.location.href = this.data('href');
            }
          }
        });

        cy.on('tap', function(evt){

          if (evt.target === cy) {
            cy.elements()
              .removeClass('semitransp')
              .removeClass('highlight')
              .removeClass('selected');
          };
        });

        
        cy.elements().unbind('mouseover');
        cy.elements().bind('mouseover', (event) => event.target.tippy.show());

        cy.elements().unbind('mouseout');
        cy.elements().bind('mouseout', (event) => event.target.tippy.hide());
    });

    </script>
{% endblock scripts %}

