{% extends "base.html" %}

{% block title %}
    <title>Delete Person: {{ person.code }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Delete Person: {{ person.code }}</h1>
        <p>Delete your profile on Intersectional-Data.ca.</p>
        <p>Date Created: {{ person.date_created }}</p>

        <form name="DeleteForm" id="deleteForm" action=/{{ lang }}/delete_person/{{ person.code }} method=POST>

            <label>
                <strong>To delete your profile, enter: "Delete my profile" with no quotations in the field below.</strong>
                <input class="form-control form-control-lg" type="text" name="verify" placeholder="Delete my profile" required>
                <small id="code_help" class="form-text text-muted">Enter "Delete my profile" to continue. This action is permanent.
                </small>
            </label>
            <hr>
    
            <button 
                class="btn g-recaptcha btn-danger" 
                data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                data-callback='onSubmit' 
                data-action='submit'
                type=submit
                >Delete</button>

            <button class="btn btn-dark" href="/{{ lang }}">Cancel</button>
            <hr>
        
        </form>

    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
    document.getElementById("deleteForm").submit();
    };

</script>
{% endblock scripts %}