{% extends "base.html" %}

{% block title %}
    <title>{{ title | title }}</title>
{% endblock title %}

{% block content %}

    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ title }}</h1>
        <p><a href="/{{ lang }}/person_network_graph/{{ person.id }}">View Person Graph</a> | <a href="/">Return to Index</a></p>
        <hr>
        <h2>Your code is: </h2> <p><strong>{{ person.code }}</strong></p> 
        <p>Please make a copy of your code or request an email that contains links back to this page and to your community.</p>
        <p>The application does not keep any identifying information and the administrators will not be able to provide you with this code once you've finished your survey and closed the window.</p>

        <form name="EmailForm" id="emailForm" action=/{{ lang }}/person/{{ person.code }} method=POST>
        
        <label>
            <strong>Send me an email</strong>
            <input class="form-control form-control-lg" type="email" name="email" placeholder="yourname@domain.com" required>
            <small id="code_help" class="form-text text-muted">Enter the email address where you would like to receive your information.</small>
        </label>
        <br>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >Send Email</button>
        <hr>
    </form>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Explanation of results
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
            <p>The experiences of your lived experience that you entered as part of the survey have been combined into a graph - a networked representation of your data, combined with the data of other people.</p>
            <p>Below, you will find your own data - a summary of what you entered in the survey. The only thing new to you here might be the <strong>total inclusivity</strong> measure. This takes the individual ratings that you entered through the slider and returns the sum.</p>
            <p>Further below, or in the next column depending on your device, you will see the results from the full data graph. This includes your results, but also those of every other person who described a similar lived experience. This lets you see how other people might interpret experiences similar to your own.
                As more peole complete the survey, this insight will deepen.</p>
            <p>Here are what the results mean:</p>
            <ul>
                <li><strong>Experience</strong> - the name of the lived experience</li>
                <li><strong>Domain</strong> - whether the experience is a part of the person or a part of the system of work</li>
                <li><strong>Instances</strong> - how many times this experience has been entered in the survey. If the result is "1", then you are the first person to do so</li>
                <li><strong>Mean Inclusivity</strong> - the average inclusivity rating for the experience from -1.00 to +1.00.</li>
            </ul>
            <p>The next chart is a frequency distribution of the responses to the statement: "Though this experience, in the workplace, I feel..."</p>
            <ul>
                <li><strong>Statement</strong> - the explanation of how the experience effected the person</li>
                <li><strong>Count</strong> - the number of times people recorded this explanation</li>
            </ul>
        </div>
        </div>
        <hr>
        <h2>My Profile</h2>
            {% for person in people_experiences %}
            <li><strong>Date Created: {{ person.person.date_created | date }}</strong></li>
            <li><strong>Total Inclusion: {{ person.total_inclusivity | round(method="ceil", precision=3) }}
                {% if person.total_inclusivity | float > 0.2 %}
                    <span style="color: green; font-size: 2.5em;">＋</span>
                {% elif person.total_inclusivity | float < -0.2 %}
                    <span style="color: red; font-size: 2.5em;">－</span>
                {% else %}
                    <span style="color: blue; font-size: 2em;"><></span>
                {% endif %}
            </strong></li>
            <hr>
                {% for experience in person.experiences %}
                    <table>
                        <tr>
                            <th style="text-align: center;">Experience</th>
                            <th style="text-align: center;">Domain</th>
                            <th style="text-align: center;">Inclusivity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><a href="/{{ lang }}/node/{{ experience.node_name }}">{{ experience.node_name | title }}</a></td>
                            <td style="text-align: center;">{{ experience.node_domain | title }}</td>
                            <td style="text-align: center;">
                                {{ experience.inclusivity | float }}
                                {% if experience.inclusivity | float > 0.2 %}
                                    <span style="color: green; font-size: 2em;">＋</span>
                                {% elif experience.inclusivity | float < -0.2 %}
                                    <span style="color: red; font-size: 2em;">－</span>
                                {% else %}
                                    <span style="color: blue; font-size: 1.5em;"><></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;">Statements</th>
                        </tr>
                        {% for statement in experience.statements %}
                            <tr>
                                <td>{{ statement }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <br>
                {% endfor %}
                <a class="btn btn-dark" href="/{{ lang }}/add_experience_form/{{ person.person.code }}">Add an experience</a>
                <a class="btn btn-danger" href="/{{ lang }}/delete_person/{{ person.person.code }}">Delete Profile</a>
            {% endfor %}
            <hr>
    </div>

    <div class="col m-md-2 m-1">
        <br>
        <h1>Global Experiences</h1>
        <br>
        <p>These are the aggregate experiences from everyone who completed the survey and identified these experiences as part of their identity. They are presented here so that you can compare the person selected with the global ratings.</p>
        <hr>
                {% for experience in other_experiences %}
                    <table>
                        <tr>
                            <th style="text-align: center;">Experience</th>
                            <th style="text-align: center;">Domain</th>
                            <th style="text-align: center;">Instances</th>
                            <th style="text-align: center;">Mean Inclusivity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><a href="/{{ lang }}/node/{{ experience.name }}">{{ experience.name | title }}</a></td>
                            <td style="text-align: center;">{{ experience.domain | title }}</td>
                            <td style="text-align: center;">{{ experience.count }}</td>
                            <td style="text-align: center;">
                                {{ experience.mean_inclusivity | round(method="ceil", precision=3) }}
                                {% if experience.mean_inclusivity | float > 0.2 %}
                                    <span style="color: green; font-size: 2em;">＋</span>
                                {% elif experience.mean_inclusivity | float < -0.2 %}
                                    <span style="color: red; font-size: 2em;">－</span>
                                {% else %}
                                    <span style="color: blue; font-size: 1.5em;"><></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;">Statement</th>
                            <th style="text-align: center;">Count</th>
                        </tr>
                        {% for tuple in experience.frequency_distribution %}
                            <tr>
                                <td>{{ tuple.0 }}</td>
                                <td style="text-align: center;">{{ tuple.1 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <br>
                {% endfor %}
    </div>

{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("emailForm").submit();
   };

</script>
{% endblock scripts %}