{% extends "base.html" %}

{% block title %}
    <title>Request Password Reset</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Request Password Reset</h1>
        <p>Enter the email address you used to register below. If you have an account, we will send you an email with a link to reset your password.</p>


        <form name="EmailForm" id="emailForm" action=/request_password_reset method=POST>
        
        <label>
            <strong>Email address</strong>
            <input class="form-control form-control-lg" type="email" name="email" placeholder="yourname@domain.com" required>
            <small id="code_help" class="form-text text-muted">Enter the email address you used to register.</small>
        </label>
        <br>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >Send Password Reset Email</button>
        <hr>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("emailForm").submit();
   };

</script>
{% endblock scripts %}