<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Intersectional Data Survey & Analysis MVP">
    <meta name="author" content="ToferC">
    <meta property="og:title" content="Intersectional Data Survey & Analysis MVP">
</head>
<body>

    <div class="card card-body">
        <P>Hello/bonjour,</P>
        
        <p>Your email address has been registered with <a href="https://www.intersectional-data.ca/{{ lang }}"> intersectional-data.ca</a>. If you think this is an error, please contact usersupport@intersectional-data.ca.</p>

        <p>If this is you, and you would like to verify your account, please enter the code below on <a href="https://www.intersectional-data.ca/{{ lang }}/verify_code">the verification page</a>.</p>

        <p>Your code is:</p>

        <div class="card-body">
            <p>{{ verification.activation_code }}</p>
        </div>

        <p>You have 60 minutes to enter this code to verify your account. If you need to, you can <a href="https://www.intersectional-data.ca/{{ lang }}/email_verification">request another code</a>.</p>

        <p>Thank you</p>

        <p>User Support at Intersectional-Data.ca</p>
    </div>
</body>
</html>