<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Intersectional Data Survey & Analysis MVP">
    <meta name="author" content="ToferC">
    <meta property="og:title" content="Intersectional Data Survey & Analysis MVP">
</head>
<body>

    <div class="card card-body">
        <P>Hello/bonjour,</P>
        
        <p>We received a request to reset your password on intersectional-data.ca. If you think this is an error, please contact chris@intersectional-data.ca.</p>

        <p>If this was you, You can reset your password through the following link.</p>

        <div class="card-body">
            <h2><a href="{{ application_url }}/password_reset/{{ token }}">{{ application_url }}/password_reset/{{ token }}</a></h2>

        </div>

        <p>You have 60 minutes to enter this code to verify your account. If you need to, you can <a href="https://www.intersectional-data.ca/log_in">request another code</a> from the log in screen.</p>

        <p>Thank you</p>

        <p>Chris</p>
    </div>
</body>
</html>