{% extends "base.html" %}

{% block title %}
    <title>About Intersectional-data.ca</title>
{% endblock title %}

{% block content %}
        <div class="col m-md-2 m-1">
            <h1>{{ fluent(key="about", lang=lang) }}</h1>
            <p>{{ fluent(key="app-description", lang=lang) }}</p>

            <hr>
            <h2>{{ fluent(key="who", lang=lang) }}</h2>
            <p>{{ fluent(key="chris-description-1", lang=lang )}}</p>
            <p>{{ fluent(key="chris-description-2", lang=lang )}}</p>
            <p>{{ fluent(key="forgive-me", lang=lang )}}</p>

            <hr>
            <h2>{{ fluent(key="why-matter", lang=lang )}}</h2>
            <p>{{ fluent(key="reasons-intro", lang=lang )}}</p>
            <ul>
                <li>{{ fluent(key="reason-1", lang=lang )}}</li>
                <li>{{ fluent(key="reason-2", lang=lang )}}</li>
                <li>{{ fluent(key="reason-3", lang=lang )}}</li>
            </ul>
            <p>{{ fluent(key="this-practice", lang=lang )}}</p>
            <ul>
                <li>{{ fluent(key="practice-1", lang=lang )}}</li>
                <li>{{ fluent(key="practice-2", lang=lang )}}</li>
                <li>{{ fluent(key="practice-3", lang=lang )}}</li>
            </ul>

            <p>{{ fluent(key="attempt-to", lang=lang )}}</p>
            <ul>
                <li>{{ fluent(key="attempt-1", lang=lang )}}</li>
                <li>{{ fluent(key="attempt-2", lang=lang )}}</li>
                <li>{{ fluent(key="attempt-3", lang=lang )}}</li>
            </ul>
            <hr>

            <h2>{{ fluent(key="how-better", lang=lang )}}</h2>
            <p>{{ fluent(key="better-1", lang=lang )}}</p>
            <p>{{ fluent(key="better-2", lang=lang )}}</p>
            <p>{{ fluent(key="better-3", lang=lang )}}</p>
            <p>{{ fluent(key="better-4", lang=lang )}}</p>
            <hr>

            <h2>{{ fluent(key="based-on", lang=lang )}}</h2>
            <p>{{ fluent(key="based-structure", lang=lang )}} <a href="https://www.aecf.org/m/blogdoc/PersonRoleSystemFramework-2013.pdf">{{ fluent(key="person-role-system", lang=lang )}}</a>, {{ fluent(key="psr-explanation", lang=lang )}}</p>
            <p>{{ fluent(key="prs-learn-more", lang=lang )}}</p>
            
            <fieldset>
                <legend>{{ fluent(key="leading-for-results-prs", lang=lang )}}</legend>
                <div class="iframe-container">
                    <iframe title={{ fluent(key="leading-for-results-prs", lang=lang )}} loading="lazy" src="https://www.youtube.com/embed/Q1dUTmdhgss"></iframe>
                </div>
            </fieldset>

            <br>

            <p>{{ fluent(key="more-info-in-x", lang=lang )}}<a href="https://medium.com/@Living_Cities/your-beginners-guide-to-anti-racist-results-based-accountability-rba-a1e3fae60055"> {{ fluent(key="blog-article", lang=lang )}}</a> {{ fluent(key="by", lang=lang )}} <a href="https://twitter.com/Living_Cities">@Living_Cities</a>.</p>
            <hr>

            <h2>{{ fluent(key="is-finished", lang=lang )}}</h2>
            <p>{{ fluent(key="no", lang=lang )}}</p>
            <p>{{ fluent(key="finished-1", lang=lang )}}</p>
            <p>{{ fluent(key="finished-2", lang=lang )}}</p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScwQNxUi1UTKMyLcltWJwC_vI1zGSkv-2JpBPwkufdGsFMHxg/viewform?usp=sf_link">{{ fluent(key="love-feedback", lang=lang )}}</a></p>
            <p>{{ fluent(key="code-found", lang=lang )}} <a href="https://github.com/toferc/intersections">Github</a>.</p>
            <hr>

            <h2>{{ fluent(key="how-protect-info", lang=lang )}}</h2>
            <p>{{ fluent(key="protect-1", lang=lang )}}</p>
            <p>{{ fluent(key="protect-2", lang=lang )}}</p>
            <p>{{ fluent(key="protect-3", lang=lang )}}</p>

        </div>
{% endblock content %}