{% extends "base.html" %}

{% block title %}
    <title>Add Community</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Add a community</h1>
        <p>Use this form to add a community to intersections. Your community will give a unique access code that participants can use to associate their profiles with your community or organization. You will be able to </p>


        <form name="CommunityForm" id="communityForm" action=/add_community method=POST>
        
        <label>
            <strong>Community Name</strong>
            <input class="form-control form-control-lg" type="text" name="community_name" placeholder="Your community name..." required>
            <small id="code_help" class="form-text text-muted">Add a name or tag for your community.</small>
        </label>

        <label>
            <strong>Description</strong>
            <input class="form-control form-control-lg" type="text" name="description" placeholder="A community..." required>
            <small id="code_help" class="form-text text-muted">Enter a short description of your community. This will be shared with participants.</small>
        </label>

        <label>
            <strong>Data Use Case</strong>
            <input class="form-control form-control-lg" type="text" name="data_use_case" placeholder="This data will be used..." required>
            <small id="code_help" class="form-text text-muted">Explain here how the data from this community will be used. This will be shared with participants.</small>
        </label>

        <label>
            <strong>Open Community?</strong>
            <input type="checkbox" id="open" name="open">
            <small id="code_help" class="form-text text-muted">Check this box to make this community publically viewable.</small>
        </label>
        <hr>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >Add Community</button>
        <hr>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("communityForm").submit();
   };

</script>
{% endblock scripts %}