{% extends "base.html" %}

{% block title %}
    <title>Add a Lens</title>
{% endblock title %}

{% block add_preload %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock add_preload %}

{% block content %}
        <div class="col-md m-md-2 m-1">
            <br>
            <h1>Add another lens</h1>
            <p><strong>OR</strong> <a class="btn btn-info" href="/person/{{ user_code }}">I'm done. Take me to my completed profile.</a></p>
            <hr>
            <h2>Your unique code is: {{ user_code }}</h2>
            <p>Please make a copy of this code. It is the only way that you can return to your profile.</p>
            <hr>

            {% set lens_len = people_lenses | last %}
            {% set prog_bar = lens_len.lenses | length %}
            {% set progbar_width = prog_bar / 6 * 100 %}

            <strong>Progress ({{ prog_bar }}/6)</strong>

            <div class="progress">
                <div class="progress-bar bg-success" style="width: {{progbar_width}}%" role="progressbar" aria-valuenow="prog_bar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <hr>
                <br>
                <form action="/add_lens_form/{{ user_code }}" method=POST id="lensForm" name="lensForm">
                
                    <h2>1. Name your experience</h2>
    
                        <label>

                            <input class="form-control form-control-lg" id="node_name_autocomplete" name="name" placeholder="Your experience name..." required
                                maxlength="32">
                            <small id="experience_help" class="form-text text-muted">Enter a few words to name your experience here.</small>
                        </label>

                    <hr>

                        <h2>2. Which domain does this experience fall into?</h2>
                    
                        <p>
                            <strong>
                                Choose your domain for this experience.
                            </strong>
                        </p>
                        <div>
                            <input type="radio" id="person" name="domain" value="Person" checked>
                            <label for="person">Person</label>
                        </div>

                        <div>
                            <input type="radio" id="role" name="domain" value="Role">
                            <label for="role">Role</label>
                        </div>

                    <hr>
                    <h2>3. Describe your experience</h2>
                    
                    <p><strong>Though this lens, in the workplace...</strong></p>
                    <div>
                        <label>
                            <strong>I feel</strong>
                            <input class="form-control form-control-lg" name="response_1" required>
                            <small id="response_1_help" class="form-text text-muted">Enter a few words about how this lens interacts with your work experience.</small>

                        </label>
                    </div>

                    <div>
                        <label>
                            <strong>I feel</strong>
                            <input class="form-control form-control-lg" name="response_2">
                            <small id="response_2_help" class="form-text text-muted">Enter a few words about how this lens interacts with your work experience.</small>

                        </label>
                    </div>

                    <div>
                        <label>
                            <strong>I feel</strong>
                            <input class="form-control form-control-lg" name="response_3">
                            <small id="response_3_help" class="form-text text-muted">Enter a few words about how this lens interacts with your work experience.</small>

                        </label>
                    </div>

                    <hr>
                    <h2>4. Identify how this experience impacts your work experience.</h2>
                    <p>Place the slider below where you think this experience falls on the range of being more or less included in your workplace.</p>

                    <label for="volume" style="text-align:left"><strong>Excluded</strong></label>
                    <label for="volume" style="float:right"><strong>Included</strong></label>
                    <input type="range" id="inclusivity" name="inclusivity"
                            min="-100" max="100" class="slider">

                    <br><br>
                    <button class="g-recaptcha" 
                data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                data-callback='onSubmit' 
                data-action='submit' type=submit>Save Experience</button>
            </form>
                
        </div>
{% endblock content %}

{% block footer %}<br><br><br>{% endblock footer %}

{% block scripts %}
<script>
    window.onSubmit = onSubmit;

    function onSubmit(token) {
    document.getElementById("lensForm").submit();
    };
</script>
{% endblock scripts %}