{% extends "base.html" %}

{% block content %}
<main>
    <div class="column" style="width:50px"></div>

    <div class="column">
        <h1>Welcome to Intersections</h1>
        <h2>User {{ user_code }}</h2>

        <h3>Your experiences so far:</h3>
        {% for person in people_lenses %}
            {% for lens in person.lenses %}
                <H4>{{ lens.node_name }} (Total Inclusivity: {{ person.total_inclusivity }}):</H4>
                {% for statement in lens.statements %}
                    <li>{{ statement }}</li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <hr>
            <p>Now, you can add another Lens. This is a representation of your subjective lived experience. There are no wrong answers.</p>

                <h3>Adding your experience</h3>
                <form action="/add_lens_form/{{ user_code }}" method=POST>

                    <label>
                        Name:
                        <input name="name">
                    </label>

                    <hr>

                        <p>Choose a Domain for this lens:</p>
                        <div>
                            <input type="radio" id="person" name="domain" value="Person" checked>
                            <label for="person">Person</label>
                        </div>

                        <div>
                            <input type="radio" id="role" name="domain" value="Role">
                            <label for="role">Role</label>
                        </div>

                        <div>
                            <input type="radio" id="system" name="domain" value="System">
                            <label for="system">System</label>
                        </div>

                    <hr>

                    <p>For each of the statements below, please complete the phrase. Use as many as you like.</p>

                    <div>
                        <label>
                            Though this lens, in the workplace, I feel <input name="response_1">.
                        </label>
                    </div>

                    <br>

                    <div>
                        <label>
                            Though this lens, in the workplace, I feel <input name="response_2">.
                        </label>
                    </div>

                    <br>

                    <div>
                        <label>
                            Though this lens, in the workplace, I feel <input name="response_3">.
                        </label>
                    </div>

                    <br>

                    <p>How do you feel this lens either makes you feel included or excluded in the workplace?</p>

                    <input type="range" id="inclusivity" name="inclusivity"
                            min="-100" max="100">
                    <label for="volume">Included</label>


                    <button type=submit>Submit form</button>
                </form>
            
            <hr>
            <p>The resulting document will break up pay by agreement in force at the time and have the following new columns:</p>
            <hr>
        
            <p>Please note that this work is a learning project and experiment in collecting and and gaining insight from sensitive or personal information while protecting the privacy of participants.</p>
            <p>The Intersections project is available on GitHub under an MIT licence here: <a href="https://github.com/ToferC/intersections">https://github.com/ToferC/intersections</a></p>
            <p>The original work on intersectional data models was done: <a href="https://github.com/ToferC/learner_models">https://github.com/ToferC/learner_models/a></p>
        
            <p>Developed by ToferC 2020</p>
        </div>
    <div class="column" style="width:50px"></div>
    </main>
{% endblock content %}