{% extends "base.html" %}

{% block title %}
    <title>Community Index</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Communities</h1>
        <p>Communities and organizations on intersections</p>

        <table>
            <tr>
                <th style="text-align: center;">Community</th>
                <th style="text-align: center;">Created</th>
                <th style="text-align: center;">Open</th>
                <th style="text-align: center;">Demo</th>
                <th style="text-align: center;">Members</th>
                <th style="text-align: center;">Experiences</th>
                <th style="text-align: center;">Avg. Inclusvity</th>
                <th style="text-align: center;">Contact</th>
                {% if role == "admin" %}
                <th style="text-align: center;">Delete</th>
                {% endif %}
            </tr>
            {% if communities %}
                {% for community in communities %} 
                
                <tr>
                    <td><a href="/community/{{ community.slug }}">{{ community.tag | title }}</a></td>
                    <td style="text-align: center;">{{ community.date_created | date(format="%Y-%m-%d") }}</td>
                    <td style="text-align: center;">{{ community.open }}</td>
                    <td style="text-align: center;">{{ community.test }}</td>
                    <td style="text-align: center;">{{ community.data.members }}</td>
                    <td style="text-align: center;">{{ community.data.lenses }}</td>
                    <td style="text-align: center;">{{ community.data.mean_inclusivity | round(method="ceil", precision=3) }}</td>
                    <td style="text-align: center;">{{ community.contact_email }}</td>
                    {% if role == "admin" %}
                    <td><a style="color:red" href="/delete_community/{{ community.id }}">Delete</a></td>
                    {% endif %}
                </tr>
                        
                {% endfor %}
            {% else %}
            <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            {% endif %}
        </table>

        <hr>
        {% if session_user != "" %}
            <p><a class="btn btn-dark" href="/add_community">Add Community</a></p>
        {% endif %}

    </div>
{% endblock content %}