{% extends "base.html" %}

{% block title %}
    <title>Data Collection and Use</title>
{% endblock title %}

{% block content %}
        <div class="col m-md-2 m-1">
            <h1>Data Collection and Use</h1>
            <p>Intersectional-data.ca is designed to protect participant's data and personal information on potentially sensitive subjects while creating open datasets that can be used to illuminate problems in our communities and organizations.</p>
            <p>This is a tricky thing to do.</p>
            <p>This page outlines how the app collects data, what data is collected and retained and how it can be accessed.</p>

            <hr>
            <h2>How is data collected and structured?</h2>



            <h2>Who can see my data?</h2>
            


            <h2>How is data stored and managed?</h2>



            <h2>Can I access or delete my own data?</h2>

        </div>
{% endblock content %}