{% extends "base.html" %}

{% block title %}
    <title>Edit Community</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Edit community</h1>
        <p>Use this form to edit your community.</p>


        <form name="AddCommunityForm" id="addCommunityForm" action=/edit_community method=POST>
        
        <label>
            <strong>Community Name</strong>
            <input class="form-control form-control-lg" type="text" name="community_name" value="{{ community.tag }}" required>
            <small id="code_help" class="form-text text-muted">Add a name or tag for your community.</small>
        </label>

        <label>
            <strong>Description</strong>
            <input class="form-control form-control-lg" type="text" name="description" value="{{ community.description }}" required>
            <small id="code_help" class="form-text text-muted">Enter a short description of your community.</small>
        </label>

        <label>
            <strong>Open Community?</strong>
            <input type="checkbox" id="open" name="open" {% if community.open %}checked{% endif %}>
            <small id="code_help" class="form-text text-muted">Check this box to make this community publically viewable.</small>
        </label>
        <hr>

        <button 
            class="btn g-recaptcha btn-dark" 
            data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
            data-callback='onSubmit' 
            data-action='submit'
            type=submit
            >Update Community</button>
        <hr>
    </form>
                
    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("addCommunityForm").submit();
   };

</script>
{% endblock scripts %}