{% extends "base.html" %}

{% block title %}
    <title>First Lens Form</title>
{% endblock title %}

{% block add_preload %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock add_preload %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Add an experience</h1>
        <hr>

        <form name="LensForm" id="lensForm" action=/first_lens_form method=POST>
        <label>
            <strong>If you already have a code, you can enter it here to connect your profiles:</strong>
            <input class="form-control form-control-lg" name="related_code" placeholder="Your previous profile code">
            <small id="code_help" class="form-text text-muted">You only need to do this if you already have a previous profile and you'd like to connect it to a new profile.</small>
        </label>
        <hr>

        <strong>Progress (0/6)</strong>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr>


            <h2>1. Name your experience</h2>
            

            <label>
                <input class="form-control form-control-lg mdb-autocomplete" id="node_name_autocomplete" name="name" placeholder="Experience name..." required
                maxlength="32" autocomplete=="off">
                <small id="experience_help" class="form-text text-muted">Enter a few words to name your experience here.</small>
            </label>

            <hr>

            <h2>2. Is this experience part of you as a person or is it a role related to your work?</h2>
            
            <fieldset>
                <legend>This experience is...</legend>
                <div>
                    <input type="radio" id="person" name="domain" value="Person" checked>
                    <label for="person">Part of me as a Person</label>
                </div>

                <div>
                    <input type="radio" id="role" name="domain" value="Role">
                    <label for="role">A formal or informal Role in my workplace</label>
                </div>
            </fieldset>

            <hr>
            
            <h2>3. Describe your experience</h2>
                    
            <p><strong>Though this experience, in the workplace...</strong></p>
            <div>
                <label>
                    <strong>I feel</strong>
                    <input class="form-control form-control-lg" name="response_1" required>
                    <small id="response_1_help" class="form-text text-muted">Enter a few words about how this experience interacts with your work life.</small>
                </label>
            </div>

            <div>
                <label>
                    <strong>I feel</strong>
                    <input class="form-control form-control-lg" name="response_2">
                    <small id="response_2_help" class="form-text text-muted">Enter a few words about how this experience interacts with your work life.</small>

                </label>
            </div>

            <div>
                <label>
                    <strong>I feel</strong>
                    <input class="form-control form-control-lg" name="response_3">
                    <small id="response_2_help" class="form-text text-muted">Enter a few words about how this experience interacts with your work life.</small>

                </label>
            </div>

            <hr>
            <h2>4. Identify how this experience impacts your inclusion in the workplace.</h2>

                <label for="inclusivity">Place the slider below where you think this experience falls on the range of being more or less included in your workplace.</label>

                <input type="range" id="inclusivity" name="inclusivity"
                min="-100" max="100" class="slider">
                <label for="inclusivity_l" style="text-align:left"><strong>More Excluded</strong></label>
                <label for="inclusivity_r" style="float:right"><strong>More Included</strong></label>

                <hr>
                <button class="btn g-recaptcha btn-dark" 
                data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                data-callback='onSubmit' 
                data-action='submit' type=submit>Save Experience</button>
            </form>
            
            <hr>
        
    </div>
{% endblock content %}

{% block footer %}<br><br><br>{% endblock footer %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
     document.getElementById("lensForm").submit();
   };

   var node_names = {{ all_node_names | json_encode | safe }};

   jQuery(function(){
       jQuery("[id=node_name_autocomplete]").autocomplete({
            minLength: 2,
            source: node_names
            });
   });

</script>
{% endblock scripts %}