{% extends "base.html" %}

{% block content %}
        <div class="col m-sm-2 m-1">
            <h1>Welcome to Intersections</h1>
                <p>This application is a learning project and experiment in collecting and and gaining insight from sensitive or personal information while protecting the privacy of participants.</p>
    
                <h3>Want to contribute?</h3>
                <p><a href="/first_lens_form">Go to the survey.</a></p>
                <hr>
                <h3>Want to explore?</h3>
                <p><a href="/full_network_graph">Explore the full network graph.</a></p>
                <h4>You can also</h4>
                {% for n in nodes %}
                    <p><a href="/node_network_graph/{{ n.node_name }}">See the lens for {{ n.node_name | title }}.</a></p>
                {% endfor %}
                <hr>
        </div>
{% endblock content %}