{% extends "base.html" %}

{% block content %}
<main>
    <div class="column" style="width:50px"></div>

    <div class="column">
        <h1>Welcome to Intersections</h1>
            <p>This application is a learning project and experiment in collecting and and gaining insight from sensitive or personal information while protecting the privacy of participants.</p>

            <p><a href="/first_lens_form">Go to the survey.</a></p>
            <p><a href="/full_network_graph">Go to the network graph.</a></p>
            <hr>
        
            <p>Developed by ToferC 2020</p>
        </div>
    <div class="column" style="width:50px"></div>
</main>
{% endblock content %}