{% extends "base.html" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}}

{% block add_preload %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.16.2/cytoscape.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
{% endblock add_preload %}

{% block content %}
<div class="col m-md-2 m-1">
  <h1>{{ title }}</h1>
  <p><a href="/full_network_graph">View full graph</a> | <a href="/full_node_graph">View node graph</a> | <a href="/">Return to Index</a></p>
  <hr>
  <div id="cy"></div>
  <hr>
</div>
<!-- Load application code at the end to ensure DOM is loaded -->
{% endblock content %}
{% block scripts %}
    <script>

    document.addEventListener("DOMContentLoaded", function() {

      var cy = cytoscape({
  
          container: document.getElementById('cy'), // container to render in
  
          elements: JSON.parse({{ graph_data | json_encode | safe }}),
  
          style: [ // the stylesheet for the graph
            {
              selector: 'node',
              style: {
                'background-color': '#666',
                'label': 'data(inclusivity)',
                'background-color': 'data(color)',
                'border-color': 'black',
                'width': 'data(size)',
                'height': 'data(size)',
                'shape': 'data(shape)',
                'content': 'data(id)'
              }
            },

            {
              selector: 'edge',
              style: {
                'width': 3,
                'line-color': '#ccc',
                'source-arrow-shape': 'triangle',
                'target-arrow-shape': 'triangle',
                'curve-style': 'bezier',
                'content': 'data(id)',
                'label': 'data(weight)'
              }
            }
          ],
  
          layout: {
            name: 'fcose',
            nodeSeparation: 300,
            nodeRepulsion: 4500,
            idealEdgeLength: 125
          }
  
          });

          function makePopper(ele) {
          let ref = ele.popperRef(); // used only for positioning

          ele.tippy = tippy(ref, { // tippy options:
            content: () => {
              let content = document.createElement('div');

              if (ele.data("node_type") == "Node") {
                content.innerHTML = ele.data("text");
              } else if (ele.data("node_type") == "Person") {
                content.innerHTML = ele.data("text");
              } else {
                content.innerHTML = ele.data("text");
              };

              return content;
            },
            trigger: 'focus' // probably want manual mode
          });
        }

        cy.ready(function() {
          cy.elements().forEach(function(ele) {
            makePopper(ele);
          });

          // Calculate degree
          
          var bc = cy.elements().degreeCentralityNormalized({
            weight: function(edges) {
              return edges.data('weight');
          }});
          
          cy.nodes().forEach( n => {
            
            let bn = bc.degree( n ).toFixed(2);

            // use this to set inclusivity
            n.data({
              inclusivity: bn,
            });

            n.style({
              'height': bn * 30.0,
              'width': bn * 30.0,
            });
          } );
        });

        // Allow link open page on click
        cy.on('tap', 'node', function(){
          try { // your browser may block popups
            window.open( this.data('href') );
          } catch(e){ // fall back on url change
            window.location.href = this.data('href');
          }
        });    

        cy.elements().unbind('mouseover');
        cy.elements().bind('mouseover', (event) => event.target.tippy.show());

        cy.elements().unbind('mouseout');
        cy.elements().bind('mouseout', (event) => event.target.tippy.hide());
    });

    </script>
{% endblock scripts %}

