{% extends "base.html" %}

{% block title %}
{{ node.node_name }} - {{ node.domain_token }}
{% endblock title %}

{% block content %}

    <div class="col p-2 m-2">
        <br>
        <h1>{{ node.node_name | title }} - {{ node.domain_token | title }}</h1>
        <p><a href="/full_network_graph">Return to Full Graph</a> | <a href="/node_network_graph/{{ node.node_name }}">View Node Graph</a> | <a href="/">Return to Index</a></p>
        <hr>
        <p>The table below shows the data from this specific node.</p>
        <p>[[ ADD STATISTICS HERE ]]</p>

        <table>
            <tr>
                <th style="text-align: center;">Lens</th>
                <th style="text-align: center;">Domain</th>
                <th style="text-align: center;">Instances</th>
                <th style="text-align: center;">Mean Inclusivity</th>
            </tr>
            <tr>
                <td style="text-align: center;">{{ node_lens.name | title }}</td>
                <td style="text-align: center;">{{ node_lens.domain | title }}</td>
                <td style="text-align: center;">{{ node_lens.count }}</td>
                <td style="text-align: center;">
                    {{ node_lens.mean_inclusivity | round(method="ceil", precision=3) }}
                    {% if node_lens.mean_inclusivity | float > 0.2 %}
                        <span style="color: green; font-size: 2em;">＋</span>
                    {% elif node_lens.mean_inclusivity | float < -0.2 %}
                        <span style="color: red; font-size: 2em;">－</span>
                    {% else %}
                        <span style="color: blue; font-size: 1.5em;"><></span>
                    {% endif %}
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th style="text-align: center;">Statement</th>
                <th style="text-align: center;">Count</th>
            </tr>
            {% for statement, count in node_lens.frequency_distribution %}
                <tr>
                    <td>{{ statement }}</td>
                    <td style="text-align: center;">{{ count }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

    <div class="col p-2 m-2">
        <br>
        <h1>Associated Lenses</h1>
        <p>These are lenses from other nodes that have been linked to the {{ node.domain_token }} trait of {{ node.node_name }}. They are presented here to show how the nodes relate and how by looking at more than one facet of a person's experience, we can better understand our people's needs.</p>
        <hr>
                {% for lens in other_lenses %}
                    <table>
                        <tr>
                            <th style="text-align: center;">Lens</th>
                            <th style="text-align: center;">Domain</th>
                            <th style="text-align: center;">Instances</th>
                            <th style="text-align: center;">Mean Inclusivity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><a href="/node/{{ lens.name }}">{{ lens.name | title }}</a></td>
                            <td style="text-align: center;">{{ lens.domain | title }}</td>
                            <td style="text-align: center;">{{ lens.count }}</td>
                            <td style="text-align: center;">
                                {{ lens.mean_inclusivity | round(method="ceil", precision=3) }}
                                {% if lens.mean_inclusivity | float > 0.2 %}
                                    <span style="color: green; font-size: 2em;">＋</span>
                                {% elif lens.mean_inclusivity | float < -0.2 %}
                                    <span style="color: red; font-size: 2em;">－</span>
                                {% else %}
                                    <span style="color: blue; font-size: 1.5em;"><></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;">Statement</th>
                            <th style="text-align: center;">Count</th>
                        </tr>
                        {% for statement, count in lens.frequency_distribution %}
                            <tr>
                                <td>{{ statement }}</td>
                                <td style="text-align: center;">{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <br>
                {% endfor %}
    </div>

{% endblock content %}