{% extends "base.html" %}

{% block title %}
    <title>{{ title | title }}</title>
{% endblock title %}

{% block content %}

    <div class="col m-md-2 m-1">
        <br>
        <h1>{{ title }}</h1>
        <p><a href="/full_network_graph">Return to Full Graph</a> | <a href="/person_network_graph/{{ person_id }}">View Person Graph</a> | <a href="/">Return to Index</a></p>
            {% for person in people_lenses %}
            <li><strong>Date Created: {{ person.person.date_created | date }}</strong></li>
            <li><strong>Total Inclusion: {{ person.total_inclusivity | round(method="ceil", precision=3) }}
                {% if person.total_inclusivity | float > 0.2 %}
                    <span style="color: green; font-size: 2.5em;">＋</span>
                {% elif person.total_inclusivity | float < -0.2 %}
                    <span style="color: red; font-size: 2.5em;">－</span>
                {% else %}
                    <span style="color: blue; font-size: 2em;"><></span>
                {% endif %}
            </strong></li>
            <hr>
                {% for lens in person.lenses %}
                    <table>
                        <tr>
                            <th style="text-align: center;">Lens</th>
                            <th style="text-align: center;">Domain</th>
                            <th style="text-align: center;">Inclusivity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><a href="/node/{{ lens.node_name }}">{{ lens.node_name | title }}</a></td>
                            <td style="text-align: center;">{{ lens.node_domain | title }}</td>
                            <td style="text-align: center;">
                                {{ lens.inclusivity | float }}
                                {% if lens.inclusivity | float > 0.2 %}
                                    <span style="color: green; font-size: 2em;">＋</span>
                                {% elif lens.inclusivity | float < -0.2 %}
                                    <span style="color: red; font-size: 2em;">－</span>
                                {% else %}
                                    <span style="color: blue; font-size: 1.5em;"><></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;">Statements</th>
                        </tr>
                        {% for statement in lens.statements %}
                            <tr>
                                <td>{{ statement }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <br>
                {% endfor %}
                <hr>
            {% endfor %}
    </div>

    <div class="col m-md-2 m-1">
        <br>
        <h1>Global Lenses</h1>
        <br>
        <p>These are the aggregate lenses from everyone who completed the survey and identified these lenses as part of their identity. They are presented here so that you can compare the person selected with the global ratings.</p>
        <hr>
                {% for lens in other_lenses %}
                    <table>
                        <tr>
                            <th style="text-align: center;">Lens</th>
                            <th style="text-align: center;">Domain</th>
                            <th style="text-align: center;">Instances</th>
                            <th style="text-align: center;">Mean Inclusivity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><a href="/node/{{ lens.name }}">{{ lens.name | title }}</a></td>
                            <td style="text-align: center;">{{ lens.domain | title }}</td>
                            <td style="text-align: center;">{{ lens.count }}</td>
                            <td style="text-align: center;">
                                {{ lens.mean_inclusivity | round(method="ceil", precision=3) }}
                                {% if lens.mean_inclusivity | float > 0.2 %}
                                    <span style="color: green; font-size: 2em;">＋</span>
                                {% elif lens.mean_inclusivity | float < -0.2 %}
                                    <span style="color: red; font-size: 2em;">－</span>
                                {% else %}
                                    <span style="color: blue; font-size: 1.5em;"><></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;">Statement</th>
                            <th style="text-align: center;">Count</th>
                        </tr>
                        {% for statement, count in lens.frequency_distribution %}
                            <tr>
                                <td>{{ statement }}</td>
                                <td style="text-align: center;">{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <br>
                {% endfor %}
    </div>

{% endblock content %}