{% extends "base.html" %}

{% block title %}
    <title>User: {{ user.user_name }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>User page for {{ user.user_name }}</h1>
        <p>User details and account management.</p>

            <p>{{ user.user_name }}</p>

            <p>{{ user.email }}</p>

            <ul>
                {% if user.communities %}
                {% for community in user.communities %}
                    <li>{{ community.tag }}</li>
                {% endfor %}
                {% endif %}
            </ul>

    </div>
{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}