{% extends "base.html" %}

{% block title %}
    <title>User: {{ user.user_name }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>User page for {{ user.user_name }}</h1>
        <p>User details and account management.</p>

            <p>{{ user.user_name }}</p>

            <p>{{ user.email }}</p>

            <ul>
                {% if user.communities %}
                {% for community in user.communities %}
                    <li>{{ community.tag }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        
            <h2>Account Options</h2>
            <p><a style="color:red" href="/delete_user/{{ user.id }}">Delete User</a></p>
            <p><a href="#">Change Email</a></p>
            <p><a href="#">Change Password</a></p>

    </div>
{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}