{% extends "base.html" %}

{% block title %}
    <title>Community: {{ community.tag }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>View Community: {{ community.tag }}</h1>
        <p>Community details and management.</p>

            <p>{{ community.description }}</p>

            <p>{{ community.code }}</p>


            <img width="300" height="300" src="{{ qrcode }}">

            <canvas id="canvas1" width="400" height="400"></canvas>
        
            <h2>Community Options</h2>
            <p><a style="color:red" href="/delete_community/{{ community.id }}">Delete Community</a></p>
            <p><a href="#">Edit Community</a></p>

    </div>
{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}