{% extends "base.html" %}

{% block title %}
    <title>Delete User: {{ user.user_name }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>User page for {{ user.user_name }}</h1>
        <p>User details and account management.</p>

            <p>{{ user.user_name }}</p>

            <p>{{ user.email }}</p>

            <ul>
                {% if user.communities %}
                {% for community in user.communities %}
                    <li>{{ community.tag }}</li>
                {% endfor %}
                {% endif %}
            </ul>

            <form name="DeleteForm" id="deleteForm" action=/{{ lang }}/delete_user/{{ user.id }} method=POST>

                <label>
                    <strong>Delete User: {{ user.user_name }}</strong>
                    <input class="form-control form-control-lg" type="text" name="verify" placeholder="User to delete..." required>
                    <small id="code_help" class="form-text text-muted">Enter the user name of the user you would like to delete. This action is permanent.
                    </small>
                </label>
                <hr>
        
                <button 
                    class="btn g-recaptcha btn-danger" 
                    data-sitekey="6LfAltkZAAAAAN7rJGBvRUPm36M1aiL7q2a8SznA" 
                    data-callback='onSubmit' 
                    data-action='submit'
                    type=submit
                    >Delete</button>

                <button class="btn btn-dark" href="/{{ lang }}/user_index">Return</button>
                <hr>
            
            </form>

    </div>
{% endblock content %}

{% block scripts %}
<script>

    window.onSubmit = onSubmit;

    function onSubmit(token) {
    document.getElementById("deleteForm").submit();
    };

</script>
{% endblock scripts %}