{% extends "base.html" %}

{% block title %}
    <title>User: {{ user.user_name }}</title>
{% endblock title %}

{% block content %}
    <div class="col m-md-2 m-1">
        <br>
        <h1>Profile for {{ user.user_name }}</h1>
        <div class="card card-body">
            <p>User details and account management.</p>
    
                <p>{{ user.user_name }}</p>
    
                <p>{{ user.email }}</p>

                <h2>Account Options</h2>
                <p>
                    {% if role == "admin" %}
                    <a class="btn btn-dark" href="/{{ lang }}/admin_edit_user/{{ user.slug }}">Edit User as Admin</a>
                    {% else %}
                    <a class="btn btn-dark" href="/{{ lang }}/edit_user/{{ user.slug }}">Change username or email address</a>
                    {% endif %}
                    <a class="btn btn-dark" href="/{{ lang }}/request_password_reset">Reset Password</a>
                    <a class="btn btn-danger" href="/{{ lang }}/delete_user/{{ user.slug }}">Delete User</a>
                </p>

        </div>
        <br>

        <h2>Communities</h2>
        <p>Your managed communities</p>

        {% if communities %}
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for community in communities | sort(attribute="data.experiences") | reverse %} 
            <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ phrases[community.tag] | title }}{% if community.test %} (Demo){% endif %}
                    </h5>
                    <p class="card-text"><small class="text-muted">{{ community.contact_email }} | {% if community.open %}Open{% else %}Private{% endif %} Community | Created: {{ community.date_created | date(format="%Y-%m-%d") }}</small></p>
                    <p class="card-text">{{ phrases[community.description] | capitalize }}</p>
                    <p class="card-text">Data Use: {{ phrases[community.data_use_case] | capitalize }}</p>
                    <table>
                        <tr>
                            <th style="text-align: center;">Members</th>
                            <th style="text-align: center;">Experiences</th>
                            <th style="text-align: center;">Avg. Inclusvity</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{ community.data.members }}</td>
                            <td style="text-align: center;">{{ community.data.experiences }}</td>
                            <td style="text-align: center;">{{ community.data.mean_inclusivity | round(method="ceil", precision=3) }}</td>
                        </tr>
                    </table>
                    <br>
                    <a class="btn btn-dark" href="/{{ lang }}/community/{{ community.slug }}">Details</a>
                    <a class="btn btn-dark" href="/{{ lang }}/full_community_graph/{{ community.slug }}">Graph</a>
                    <a class="btn btn-dark" href="/{{ lang }}/edit_community/{{ community.slug }}">Edit</a>
                    <a class="btn btn-danger" href="/{{ lang }}/delete_community/{{ community.id }}">Delete</a>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
        {% endif %}

        <br>
        {% if user.validated %}
            <p><a class="btn btn-dark" href="/{{ lang }}/add_community">Add Community</a></p>
        {% else %}
            <p><strong>You need to verify your account before you can create communities.</strong></p>
            <a class="btn btn-dark" href="/{{ lang }}/resend_email_verification">Send email verification</a>
        {% endif %}

    </div>
{% endblock content %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}